@{
    ViewBag.Title = "AdminDash";
    Layout = "~/Views/AdminDashLayout.cshtml";

    <link href="~/Content/DashboardSheet.css" rel="stylesheet" />


}

<div class="container-fluid conta " style="background-image: url( '/OurProImages/planet.jpg ')">
    <div class="container con" style="background-image: url( '/OurProImages/pattern.jpg ')">
        <h1 class="area" style="margin-top:7%">
            <marquee behavior="slide" scrollamount="10" loop="1" direction="up" style="height:45%; ">
                WELCOME TO DOCTOR QUICK <br>


                <img src="~/OurProImages/user.png"  style="height:150px; margin-left:15%; margin-top:-2%">ADMIN PANEL
        </h1></marquee>

        <h2>Please make a selection from the links on your left side.</h2>
    </div>
</div>
