@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/ClientDashLayout.cshtml";
<link href="~/Content/DashboardSheet.css" rel="stylesheet" />
        
}

<div class="container-fluid conta " style="background-image: url( '/OurProImages/planet.jpg '); margin-top: 2%">
    <div class="container con" style="background-image: url( '/OurProImages/pattern.jpg ')">
        <h1 class="area">
            <marquee behavior="slide" scrollamount="10" loop="1" direction="up" style="height:20%">
                WELCOME TO DOCTOR QUICK <br>


                <img src="~/OurProImages/user-4.png"    style="height:150px; margin-left:15%; margin-top:-2%">CLIENT PANEL
        </h1></marquee>

        <h2>Please make a selection from the links on your left side.</h2>
    </div>
</div>
