@{
    ViewBag.Title = "PAppForm";
    Layout = "~/Views/ClientDashLayout.cshtml";
    
    }
<!--
<style>
    .p {
        color:white;
        margin-left: 95px;
        font-family: gabriola;
        font-size:45px;
        font-weight:bold;
      
    }

    .control {
        margin-left: 65px;
        width: 45%;
        height: 25px;
        border-radius: 8%;
    }

    h2 {
        margin-left: 55px;
        font-family: gabriola;
        font-size: 35px;
        color: rgba(194, 112, 76, 1);
    }

    .but {
        margin-left: 140px;
        width: 10%;
        height: 30px;
        border-radius: 5px;
    }

    h3 {
        margin-left: 50px;
        color: rgba(194, 112, 76, 1);
        font-family: gabriola;
        font-size: 30px;
        margin-top: -80px;
    }

    .cont {
        width:30%;
        margin-left:90px;
   
    }

    .img {
        width: 42%;
        height: 420px;
        margin-left: 680px;
        margin-top: -500px;
        margin-bottom: 95px;
    }

</style>-->



<style>
    .contr {
        height: 40px;
    }
</style>

<body style="background-color: rgba(81, 92, 82, 1);">
    <div class="container" style=" background-color: #333; border-radius:5%; width:70% ; height:700%;  margin-top:8%; margin-bottom:6%">
        <h1 style="color:white; font-family:Gabriola;margin-left:34%; margin-bottom:3%">Online Appointment</h1>

        <form style=" margin-bottom:2%; ">
            <fieldset id="inputs">
                <div class="row">
                    <div class="col-sm-4">
                        <input id="FirstName" class="form-control contr" type="text" name="FirstName" placeholder="First Name*" required /><br />
                    </div>
                    <div class="col-sm-4 ">
                        <input id="LastName" class="form-control contr" type="text" name="LastName" placeholder="Last Name*" required /><br />
                    </div>
                    <div class="col-sm-4 ">
                        <input id="Email" class="form-control contr" type="text" name="Email" placeholder="Email*" required /><br />
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control contr" id="Password" name="Password" placeholder="Password*" type="password" /><br />
                    </div>
                    <div class="col-sm-4 ">
                        <input id="PhoneNo" type="text" class="form-control contr" name="PhoneNo" placeholder=" Phone No*" required /><br />
                    </div>
                    <div class="col-sm-4 ">
                        <input id="Address" type="email" class="form-control contr" name="Address" placeholder="Address*" required><br />
                        <br />
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <input id="DOBirth" class="form-control contr" type="date" name="DOBirth" placeholder=" Date of Birth*" required /><br />
                    </div>
                    <div class="col-sm-4 ">
                        <label style="color:white">Gender:</label>  &nbsp;<input type="radio" name="Gender" />
                        <label style=" color:white">
                            Female
                        </label>
                        <input type="radio" name="Gender" />&nbsp;<label style=" color:white"> Male</label>

                    </div>
                    <div class="col-sm-4 ">
                        <input id="City" class="form-control contr" type="text" name="City" placeholder="City*" required /><br />
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">


                        <select class=" form-control contr" id="MStatus" name="MStatus" style="width:96%; margin-left:3%">

                            <option value="Martial">Martial Status</option>
                            <option value="1">Single</option>
                            <option value="2">Married</option>
                        </select><br />
                    </div>

                    <div class="col-sm-4 ">
                        <select class=" form-control contr" id="Departments" name="Departments" style="width:96%; margin-left:1%">

                            <option value="Department">Choose Department</option>
                            <option value="1">Cardiology</option>
                            <option value="2">Dentisry</option>
                            <option value="3">Emergency Room</option>
                            <option value="4">Surgury</option>
                            <option value="5">Pediatrics</option>
                            <option value="6">Laboratory</option>
                        </select><br />
                    </div>

                    <div class="col-sm-4 ">
                        <select class=" form-control contr" id="WordNo" name="WordNo" style="width:96%; margin-left:-1%">

                            <option value="Word No">Choose Ward No*</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select><br />
                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-4" style="margin-left:1%">
                        <input id="PId" class="form-control contr" type="text" style="width:96%" name="PId" placeholder="Patient Id*" required /><br />
                    </div>


                    <div class="col-sm-4 " style="margin-left:-0.6%">

                        <input id="GName" class="form-control contr" type="text" name="GName" style="width:96%" placeholder="Guardian Name*" required /><br />
                    </div>
                    <div class="col-sm-4 " style="margin-left:-0.5%">
                        <input id="GPhoneNo" class="form-control contr" type="text" name="GPhoneNo" style="width:96%" placeholder="Guardian Phone No*" required /><br />
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4" style="margin-left:1%">
                        <input id="Occupation" class="form-control contr" type="text" style="width:96%" name="Occupation" placeholder="Occupation*" required /><br />
                    </div>
                    <div class="col-sm-4 " style="margin-left:-0.6%">
                        <input id="CDrName" class="form-control contr" style="width:96%" type="text" name="CDrName"
                               placeholder="Consulting Dr. Name*" required /><br />
                    </div>
                    <div class="col-sm-4 " style="margin-left:-0.5%">
                        <input id="BedNo" class="form-control contr" type="text" style="width:96%" name="BedNo" placeholder="Bed No*" required /><br />
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4" style="margin-left:1%">
                        <input id="Responsible" class="form-control contr " type="text" name="Responsible" style="width:96%"
                               placeholder="Who is financially responsible for Doctor?*" required /><br />
                    </div>
                    <div class="col-sm-4 " style="margin-left:-0.6%">
                        <input id="ENo" class="form-control contr" type="text" style="width:96%" name="ENo" placeholder="Emergency No*" required /><br />
                    </div>
                    <div class="col-sm-4 " style="margin-left:-0.5%">
                        <input id="RelationToPatient" class="form-control contr" style="width:96%" type="text" name="RelationToPatient"
                               placeholder="Relationship To Patient*" required /><br />
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4" style="margin-left:1%">
                        <input id="OfcNo" class="form-control contr" type="text" style="width:96%" name="OfcNo" placeholder="Office Phone No*" required /><br />
                    </div>


                </div>


                <input type="submit" value="Register" style="margin-left:45%; width:12%; height:40px; text-align:center">


            </fieldset>
        </form>
    </div>
</body>

