@{
    ViewBag.Title = "Cardiology";
    Layout = "~/Views/deps/DepartmentsLayout.cshtml";
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" />
}
<body>
    <div class="container" style="margin-top:60px">
        <header> <h1 style="text-transform:uppercase">Cardiology</h1></header>
       <p> The Cardiology Department at Doctors Hospital offers a full spectrum of specialty services for patients with
            conditions that affect their heart and blood vessels. Our goal is to provide exceptional care for patients 
           at risk for or with established cardiovascular disease. We also aim to educate future leaders in cardiovascular
            medicine.</p>

        <h1>Services</h1>
        <p>Through the combined efforts of the Department of Cardiology and Cardiac Surgery, Doctors Hospital is recognized as 
        a national leader in Cardiology.  Our team-based approach to patient care is complemented by state-of-the-art 
        technologies.

Our experienced staff is trained to meet the unique needs of heart and vascular patients – and their families. We understand 
        that coping with these types of conditions can be overwhelming. So, we provide high-quality care in a friendly,
         caring environment.

We are equipped to provide emergency angioplasty (Primary Coronary Intervention) in cases of acute heart attacks. This is a 
        real life saving procedure. This service is available 24/7 throughout the year.</p>

        <p>
            The following conditions and symptoms are commonly seen:
        </p>
        <ul>
            <li style="color:white">
                <em>
                    Coronary heart disease
                   
                </em>
            </li>
            <li style="color:white">
                <em>
                    Congestive heart failure
                </em>
            </li>
            <li style="color:white">
                <em>
                    Heart attack and chest pain management
                </em>

            </li>
            <li style="color:white">
                <em>
                    Structural or congenital heart defects
                </em>

            </li>
            <li style="color:white">
                <em>
                    Heart valve disease and disorders                </em>

            </li>
            <li style="color:white">
                <em>
                   
                    Vascular disease and Irregular heartbeats or arrhythmias
                </em>

            </li>
            </ul>

           
     
            
</div>
</body>