@{
    ViewBag.Title = "Dentisry";
    Layout = "~/Views/deps/DepartmentsLayout.cshtml";
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" />
}

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }
    </style >

<body >

    <div class="container" style="margin-top:60px">
        <header> <h1 style="text-align:center">Dentisry Department</h1></header>
        <p >
            We provide comprehensive, preventative and therapeutic oral health diagnosis, treatment and consultative
            expertise for infants, and medically compromised children and adolescents.
        </p>
        <div class="row">
            <div class="col-md-8 TwoDivs">
                <!--Crousel-->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">



                            <img src="~/OurProImages/dent2.jpg"   alt="lab" width="460" height="345">
                        </div>

                        <div class="item">



                            <img src="~/OurProImages/dent3.jpg"     alt="lab1" width="460" height="345">
                        </div>

                        <div class="item">



                            <img src="~/OurProImages/dent4.jpg"   alt="lab2" width="460" height="345">
                        </div>

                        <div class="item">



                            <img src="~/OurProImages/dent5.jpg"   width="460" height="345">
                        </div>
                        
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <p>Please call (904)-209-3250 to set up an eligibility screening appointment.</p>



                <p> Services are by appointment only with daily emergency times available. Please call to set up a service
                     appointment. Call before 9 am if you need to be seen for a dental emergency, like a toothache.</p>
</div>

            <div class="col-md-4 twodiv">


                <h1>Services Provided</h1>
                <p >
                    <em> Exams</em> 
                     <em>X-rays</em><br />
                    <em> Cleanings</em><br />
                    <em>Fluoride treatments</em><br />
                    <em>Sealants</em><br />
                    <em>Restorative (fillings)</em><br />
                    <em>Extractions</em><br />
                    Services are by appointment only with daily emergency times available. Please call to set up a service
                    appointment. Call before 9 am if you need to be seen for a dental emergency, like a toothache.

                </p>


               
            </div>





        </div>

    </div>


</body>


