@{
    ViewBag.Title = "EmergencyRoom";
    Layout = "~/Views/deps/DepartmentsLayout.cshtml";
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    <link href="~/Content/custom.css" rel="stylesheet" />
}





<body >
    <div class="container" style="margin-top:60px" >
        <header> <h1 style="text-transform:uppercase" >Our Departments</h1></header>
        <!--1 2 div-->
        <p >
            
        </p>
        <div class="row">
            <div class="col-md-6 Sixdivsimages">
                <a href="/Departments/LaboratoryBloodBank">  

                    <img src="~/OurProImages/LaboratoryBloodBank.jpg"    class="pic"  width="500" height="300" /></a> 
                <a href="/Departments/LaboratoryBloodBank" style="text-decoration:none"><h1> Laboratory and Blood Bank</h1></a>
                <p style="text-align:center">State of the Art Equipment</p>

               
            </div> 
             
              

            
            <div class="col-md-6 Sixdivsimages" >

                <a href="/Departments/Pediatrics">

                    <img src="~/OurProImages/Pedriatics.jpg"   width="500" height="300" class="pic" />
                </a>
                    <a href="/Departments/Pediatrics" style="text-decoration:none"><h1> Pediatrics</h1></a>
                    <p style="text-align:center">Bringing Smiles to Children</p>
</div>
            </div>
            <!--3 4 div-->
        <div class="row">
            <div class="col-md-6 Sixdivsimages">

                <a href="/Departments/ERoom">


                    <img src="~/OurProImages/EmergencyRoom.jpg"   width="500" height="300" class="pic" /></a>
                    <a href="/Departments/ERoom" style="text-decoration:none"><h1>Emergency Room</h1></a>
                    <p style="text-align:center">Healthcare at its finest</p>
</div>




            <div class="col-md-6 Sixdivsimages">

               
                <a href="/Departments/Dentisry">

                    <img src="~/OurProImages/Dentisry.jpg"   width="500" height="300" class="pic" />
                </a>
                    <a href="/Departments/Dentisry" style="text-decoration:none"><h1> Dentistry</h1></a>
                    <p style="text-align:center">Keeping Teeth White and Healthy</p>
</div>
            </div>
          
            <!--5 6 div-->


        <div class="row">
            <div class="col-md-6 Sixdivsimages">

                <a href="/Departments/Surgery">


                    <img src="~/OurProImages/Surgery.jpg"      width="500" height="300" class="pic" />
                </a>
                    <a href="#" style="text-decoration:none"><h1>Surgery </h1></a>
                    <p style="text-align:center">Best Surgery Facility in the County</p>
</div>




            <div class="col-md-6 Sixdivsimages">
                <a href="/Departments/Cardiology">


                    <img src="~/OurProImages/Nursing.jpg"   class="pic" width="500" height="300"   /></a>
                    <a href="#" style="text-decoration:none"><h1>Cardiology</h1></a>
                    <p style="text-align:center">Adhering to all International Standards</p>
</div>

            






        </div>




        </div>


          
            





          




</body>