@{
    ViewBag.Title = "Pediatrics";
    Layout = "~/Views/deps/DepartmentsLayout.cshtml";
    <script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
}

<body >
    <div class="container" style="margin-top:60px">
        
        <div class="row">
            <h1 style="text-transform:uppercase">Pediatrics</h1>
            <div class="col-md-8 TwoDivs">
            
                <h1>What is a Pediatric Hospitalist?</h1>
                <p >
                    If your child has an illness or injury requiring hospitalization,
                    he or she may be cared for by a pediatric hospitalist.<br /><br />

                    Pediatric hospitalists are pediatricians who work primarily in hospitals. They care for children in
                    many hospital areas, including the pediatric ward, labor and delivery, the newborn
                    nursery, the emergency department, the neonatal intensive care unit, and the pediatric intensive care unit.<br /><br />

                    Pediatric hospitalists work with your regular pediatrician and other physicians and providers
                    involved in your child’s care. If there is a significant change in your child’s
                    condition, a pediatric hospitalist will update your pediatrician. When your child leaves
                    the hospital, a pediatric hospitalist will give your pediatrician an overview of your child’s hospital
                    stay and detailed instructions for any necessary further care.
                </p>

                <h1>What Types of Treatments Do Pediatric Hospitalists Provide?</h1>
                <p >
                    pediatric hospitalists care for children with a wide variety of illnesses and medical needs
                    who require hospital care. such medical needs include
                </p>
                <ul>
    <li style="color:white"> <em>Infectious illnesses of the blood, skin, lungs, and kidneys
</em></li>
                    <li style="color:white">
                        <em>
                            Respiratory illnesses such as pneumonia and croup
                        </em>      </li>
                    <li style="color:white"><em>
    Problems with chronic illnesses such as diabetes and asthma
</em> 

</li>
                    <li style="color:white"><em>
    Common pediatric illnesses such as influenza and dehydration
</em> 

</li>
                    <li style="color:white"><em>
    Recovery from injuries or surgeries
</em> 

</li>
                    <li style="color:white"><em>
    Care of newborns
</em> 

</li>
                </ul>
                <p >
                    Pediatric hospitalists often assist other pediatricians, family practitioners,
                    general surgeons, and subspecialty physicians in caring for children.
                </p>
            </div>

            <div class="col-md-4 twodiv">

                <img src="~/OurProImages/childgirl.jpg"    width="400" height="280" />
                <p >Pediatrics is the branch of medicine dealing with the health and medical care of infants, children,
                 and adolescents from birth up to the age of 18. The word “paediatrics” means “healer of
                 children”; they are derived from two Greek words: (pais = child) and (iatros = doctor or healer). </p>

              
                <form id="search-form_3">
                    <input type="text" class="search_3" />
                    <input type="submit" class="submit_3" value="Search" />
                </form>

                
            </div>
        </div>
        </div>

</body>

