@{
    ViewBag.Title = "Surgery";
    Layout = "~/Views/deps/DepartmentsLayout.cshtml";
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" />
}

<body>

    <div class="container" style="margin-top:60px;">
        <header> 
        <h1 style="text-align:center">SURGERY DEPARTMENTS</h1></header>
        <div class="row">
            <div class="col-sm-6" >

                <img src="~/OurProImages/surgery1.jpg"   width="600" height="350" />
                <p>The Surgical Department consists of nine Inpatient units as well as the lithotripsy unit with a 212 bed capacity. Our department is located at the north and the south sides of the fourth floor, in addition to the south side of the fifth floor of the hospital.

We take care of a wide range of highly specialized surgical procedures and interventions disseminated over all surgical subunits, based on their specific scope of care and capacity. These surgical subunits operate 24 hours a day, seven days a week. The lithotripsy unit operates five days a week on a day care basis.</p>
                </div>
            <div class="col-sm-4" style="margin-left:15%">
                <p>The Department of Surgery provides expert, personalized care and performs innovative research to improve the quality, 
                safety and outcomes of surgery.</p>
                <h1 style="text-align:left"> SURGERY DIVISIONS</h1>
                <p>
                    
                    Cardiac Surgery<br />
                    Community Surgery<br />
                    General and GI Surgery<br />
                   
                    Plastic Surgery<br />
                    Surgical Oncology<br />
                    Thoracic Surgery<br />
                    Trauma, Emergency Surgery and Surgical Critical Care<br />
                    Transplant Surgery<br />
                    Vascular Surgery<br />
                    Voice Center</p>
</div>


            </div>

            </div>


</body>

